footer{
    background-color: #313030;
    padding: 55px 0 35px;
    .footer{
        display: flex;
        align-items: center;
    }
    p{
        color: #b8b8b8;
        font-size: 16px;
        margin-right: auto;
    }
    a{
        width: 33px;
        height: 33px;
        margin-right: 18px;
        border-radius: 50%;
        &.fb{
            background: url("../img/fb.png");
        }
        &.twitter{
            background: url("../img/twit.png");
        }
        &.linkdin{
            background: url("../img/Lin.png");
        }
        &.google{
            background: url("../img/Google.png");
        }
        &:hover{
            background-color:$infoColor;
        }
    }
}