$primaryColor: #000;
$secondaryColor: #fff;
$infoColor: #ff3f40;
$mutedColor: #e0e0e0;
$headerBGColor:#f6f2f2;
$secondaryBGColor:#313030;
$imgElemBGColor:#f5f0dd;
$mainTextSize:16px;
$secondaryTextSize:14px;
$largeTextSize: 18px;
$largestTextSize: 60px;